
.top-buffer-20 {
    margin-top: 20px;
}

.top-buffer-40 {
    margin-top: 40px;
}

/* windows 8 color */

.bgcolor-teal-dark {
    background: #008299;
}
.bgcolor-teal-light {
    background: #00A0B1;
}
.bgcolor-blue-dark {
    background: #2672EC;
}
.bgcolor-blue-light {
    background: #2d89ef;
}
.bgcolor-purple-dark {
    background: #8C0095;
}
.bgcolor-purple-light {
    background: #A700AE;
}
.bgcolor-red-dark {
    background: #AC193D;
}
.bgcolor-red-light {
    background: #BF1E4B;
}
.bgcolor-orange-dark {
    background: #D24726;
}
.bgcolor-orange-light {
    background: #FA6800;
}
.bgcolor-green-dark {
    background: #008A00;
}
.bgcolor-green-light {
    background: #00A600;
}
.bgcolor-sky-dark {
    background: #094AB2;
}
.bgcolor-sky-light {
    background: #0A5BC4;
}
.bgcolor-lime {
    background: #A4C400;
}
.bgcolor-cyan {
    background: #1BA1E2;
}
.bgcolor-violet {
    background: #AA00FF;
}
.bgcolor-pink {
    background: #F472D0;
}
.bgcolor-amber {
    background: #F0A30A;
}
.bgcolor-yellow {
    background: #ffc40d;
}
.bgcolor-brown {
    background: #825A2C;
}
.bgcolor-olive {
    background: #6D8764;
}
.bgcolor-steel {
    background: #647687;
}
.bgcolor-mauve {
    background: #76608A;
}

.bgcolor-taupe {
    background: #87794E;
}


.bgcolor-darken  {
    background: #1d1d1d;
}

.bg-lighter {
    background-color: #3e444d;
}

.txtcolor-white {
    color: #ffffff;
}


/**********************************/

.bg-navfoot {
    background-color: #2C3E50;
}
.navbar-default {
    border-color: transparent;
}
.bg-projects  {
    background: #3e444d;
}

.bg-about {
    background-color: #eee;
}

.bg-error {
    background-color: #f1f1f1;
}

/*.navbar-default {*/
    /*margin-top: 1.5%;*/
    /*border-color: transparent;*/
    /*background-color: #222;*/
    /*background: rgba(240, 240, 240, 0.35);*/

    /*-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.275);*/
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.275)*/
/*}*/

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .12);
}


.navbar-default .navbar-toggle {
    border-color: #777;
    background-color: #222;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000;
}

.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    padding: 20px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1BA1E2;
}

.navbar-default .navbar-nav > .active > a {
    color: #fff;
    background-color: #000;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #000;
}

header {
    text-align: center;
    background: transparent none scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .container {
    padding-top: 80px;
    padding-bottom: 50px;
}
.navbar-fixed-top .navbar-brand {
    font-size: 2em;
    margin-top: 5px;
}
@media(min-width:768px) {

    .navbar-default {
        border: 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    header .container {
        padding-top: 160px;
        padding-bottom: 100px;
    }

    /*.navbar-default .navbar-nav>.active>a {*/
        /*border-radius: 3px;*/
    /*}*/
    .navbar-fixed-top .navbar-brand {
        font-size: 1.5em;
        margin-top: 3px;
    }

}

.avatar {
    /*max-height: 400px;*/
    /*max-width: 400px;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

p {
    font-size: 18px;
}

section {
    padding: 90px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}


section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 130px 0;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr {
    width:90%;
    height: 1px;
    color: #333;/*old IE */
    background-color: #333; /*Modern Browsers */
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}
.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #1BA1E2;
    background: #fff;
}


footer {
    color: #fff;
    padding: 25px 0;
}

.modal-content {
    padding: 20px;
}
/* form*/
.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    /*vertical-align: middle;*/
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #1BA1E2;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}



.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-5em)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-5em)
    }
    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-5em)
    }
    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-5em)
    }
    100% {
        transform: translateY(0)
    }
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-5em)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }
    100% {
        -moz-transform: translateY(-5em)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }
    100% {
        -o-transform: translateY(-5em)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-5em)
    }
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp
}
